body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

ol {
  list-style-type: none;
  @include flex-center();
  flex-direction: column;
  font-size: 25px;

  .item-container {
    @include flex-center();

    span {
      padding: 10px;
      margin-right: 10px;
    }
  }

  .draggable {
    @include flex-center();
    margin-bottom: 10px;

    p {
      height: 100%;
      padding: 10px;
    }

    i {
      padding: 5px;
      padding-right: 10px;
    }
  }
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;
  color: rgb(255, 86, 255);
  background-color: black;
  letter-spacing: 1.2px;
}

.paragraph {
  font-size: 22px;
  background-color: rgba(255, 86, 255);
  padding: 20px;
  margin-top: 0;
  letter-spacing: 1px;
}

button {
  padding: 20px;
  outline: none;
  border: none;
  color: black;
  background-color: rgb(255, 86, 255);
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;

  i {
    margin-left: 10px;
  }
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  color: rgb(255, 86, 255);
  background-color: black;
}
